<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.wschat.mapper.KFileMapper">


    <insert id="insertOne">
        insert into t_file(username, `url`, `filename`)
        values (#{kFile.username}, #{kFile.url}, #{kFile.filename})
    </insert>
</mapper>
