<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kai.wschat.mapper.UserMapper">

    <insert id="insertUser">
        insert into t_user (`username`, `password`)
        values (#{username}, #{password})
    </insert>

    <select id="selectOneByUsername" resultType="com.kai.wschat.pojo.User">
        select *
        from t_user
        where `username` = #{username}
    </select>
    <select id="listUsername" resultType="com.kai.wschat.pojo.User">
        select `username`
        from t_user
        where `username`!=#{currUsername}
    </select>


</mapper>